﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title coloredText">{{ title }}</h4>
</div>
<form name="serviceForm" class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-10">
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="control-label col-sm-2">Title:</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" ng-model="rowData.Title" />
        </div>
    </div>
    <div class="form-group">
        <label for="year" class="control-label col-sm-2">Year:</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" ng-model="rowData.Year" />
        </div>
    </div>
    <div class="form-group">
        <label for="ratingId" class="control-label col-sm-2">Rating:</label>
        <div class="col-sm-10">
            <select ng-model="selectedRating" ng-options="item.Code for item in Ratings"></select>
        </div>
    </div>
    <div class="alert alert-success" ng-show="showSuccessMessage">
        <strong>Success!</strong>Movie has been saved.
    </div>
</form>
<div class="modal-footer">
    <div class="row">
        <div class="col-lg-6 spaceTop pull-right">
            <button class="active" ng-click="add()">Save</button>
            <button class="btn-warning" ng-click="close()">Cancel</button>
        </div>
    </div>
</div>  