﻿<h2>Movies</h2>
<div ng-controller="movieController">
    <div style="padding-left: 30px;">
        <button type="button" id="addRow" class="btn btn-success" ng-click="addMovie()">Add New Movie</button>
    </div>
    <br />
    <div ui-grid="gridOptions"
         ui-grid-pagination
         ui-grid-selection
         ui-grid-exporter
         ui-grid-resize-columns
         ui-grid-auto-resize
         class="grid">
    </div>
</div>